

.HomeMainContent {
    border: none;
    width: 80%; 
    height: 100vh; 
    min-height: 720px;  
    background-color: #E9FBFF; 
    /* position: fixed; */
    margin-left: 20%;
    /* margin-top: -50px;  */
      
  }
  .HomeTopText{
    margin-left: 9%;
    padding-top: 50px;
  }
  .HomeTopText h1{
    font-size: 28px;
    font-weight: 460;
    opacity: 90%;
  }
  .NimeshTopText{
    margin-left: 13px;
    font-size: 36px;
    font-weight: 600;
    color: #00A4C9;
  }
  .ChangingText{
    margin-top: -10px;
  }
  .ChangingText .FSDtop{
    font-size: 38px;
    font-weight: 500;
    opacity: 80%; 
  }
 
  .FSDtop{
    display: block;
    height: 100%;
    width: max-content;
    border: none;  
    animation: spin_words 6s infinite;
  }
  .ChangingText {
    overflow: hidden;
    height: 70px; 
    opacity: 78%;
    margin-top: -5px;
}

.FSDtop {
    height: 100%;
    width: max-content;
    border: none;
    animation: spin_words 10s infinite;
}

@keyframes spin_words {
    0%, 25% {
        transform: translateY(0%);
        opacity: 1;
    }
    30%, 35% {
        transform: translateY(-112%);
        opacity: 0;
    }
    40%, 65% {
        transform: translateY(-100%);
        opacity: 1;
    }
    70%, 75% {
        transform: translateY(-212%);
        opacity: 0;
    }
    80%, 100% {
        transform: translateY(-200%);
        opacity: 1;
    }
}
.HomeTopDescription{
  width: 45%;
  margin-top: 15px;
  opacity: 70%;
}
.HomeTopDescription h2{
  font-size: 16px;
  font-weight: 390;

}
.HomeWelcomeText{
  font-size: 20px;
  font-weight: 540;
}
.HomeMyPhoto img{
  width: 42%;
  margin-left: 53%;
  margin-top: -375px;

}
.Home_Buttons{
  margin-left: 9%;
  display: flex;
  gap: 30px;
  margin-top: -100px;
}
.Home_BottomText{
  margin-left: 9%;
  margin-top: 30px;
}
.Home_BottomText span{
  font-size: 50px;
  color: #00A4C9;
  padding-right: 10px;
}
.Home_BottomText h1{
  font-size: 30px;
  font-weight: 600;
  opacity: 70%;
}
.Home_Buttom_Cards{
  margin-left: 9%;
  margin-top: 12px;
  display: flex;
  gap: 5%;
}
.Home_Buttom_Card1{
  height: 130px;
  width: 25%;
  background-color: #CCDCE2;
  align-items: center;
}
.Home_Card1_Icons{
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 30px;
}
.Home_Card1_Icons img{
  height: 45px;
}
.Home_Buttom_Card1 h1{
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  font-weight: 500;
  opacity: 95%;
}
.Home_Buttom_Card2{
  height: 130px;
  width: 25%;
  background-color: #DCF1F4;
}
.Home_Card2_Icons{
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 30px;
}
.Home_Card2_Icons img{
  height: 45px;
}
.Home_Buttom_Card2 h1{
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  font-weight: 500;
  opacity: 95%;
}
.Home_Buttom_Card3{
  height: 130px;
  width: 25%;
  background-color: #E9F0F0;
}
.Home_Card3_Icons{
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 30px;
}
.Home_Card3_Icons img{
  height: 45px;
}
.Home_Buttom_Card3 h1{
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  font-weight: 500;
  opacity: 95%;
}
  
/* Add Animation */

@keyframes zoomOutFadeIn2 {
  0% {
    opacity: 5%;
    transform: scale(1.01);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.HomeTopText h1,
.HomeTopDescription,
.Home_Buttons,
.ChangingText,
.HomeMyPhoto{
  animation: slowFadeIn 0.9s ease-in-out;
}

.Home_BottomText,
.Home_Buttom_Cards{
  animation: slowFadeIn 1.2s ease-in-out;

}

.HomeTopText h1 {
  overflow: hidden;
  white-space: nowrap;
  animation: typingEffect 3.5s steps(40, end) forwards;
}

@keyframes typingEffect {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Responsive part */


@media (max-width: 1500px){
  .HomeMainContent {
    background-color: #b3194a; 
    height: 100vh;   
  }
  .Home_BottomText{  
    padding-top: -55px;
  }
  .Home_Buttom_Cards{
    margin-left: 9%;
    margin-top: -5px;
    display: flex;
    gap: 5%;
  }
  
}

@media (max-width: 1440px){
  .HomeMainContent { 
    background-color: #acc24d; 
      
  }
  .HomeTopText{
    margin-left: 8%;
    padding-top: 50px;
  }
  .HomeTopText h1{
    font-size: 27px;
  }
  .NimeshTopText{
    margin-left: 13px;
    font-size: 35px;
  }
  .ChangingText .FSDtop{
    font-size: 36px; 
  }
  .HomeTopDescription{
    width: 48%;
    margin-top: 5px;
  }
  .HomeTopDescription h2{
    font-size: 14px;
  
  }
  .HomeWelcomeText{
    font-size: 18px;
  }
  .HomeMyPhoto img{
    margin-top: -325px;
  }
  .Home_Buttons{
    margin-left: 8%;
    margin-top: -90px;
  }
  .Home_BottomText{
    margin-left: 8%;
    margin-top: 15px;
  }
  .Home_BottomText span{
    font-size: 48px;
  }
  .Home_BottomText h1{
    font-size: 29px;
  }
  .Home_Buttom_Cards{
    margin-left: 8%;
    margin-top: 10px;
  }
  .Home_Buttom_Card1,
  .Home_Buttom_Card2,
  .Home_Buttom_Card3{
    height: 110px;
  }
 
  .Home_Card1_Icons{
    gap: 10px;
    margin-top: 20px;
  }
  .Home_Card1_Icons img{
    height: 35px;
  }
  .Home_Buttom_Card1 h1{
    margin-top: 15px;
    font-size: 11px;
  }
  
  .Home_Card2_Icons{
    gap: 10px;
    margin-top: 20px;
  }
  .Home_Card2_Icons img{
    height: 35px;
  }
  .Home_Buttom_Card2 h1{
    margin-top: 15px;
    font-size: 11px;
  }
  
  .Home_Card3_Icons{
    gap: 10px;
    margin-top: 20px;
  }
  .Home_Card3_Icons img{
    height: 35px;
  }
  .Home_Buttom_Card3 h1{
    margin-top: 15px;
    font-size: 11px;
  }
}

@media (max-width: 1280px){
  .HomeMainContent { 
    background-color: #4dc286; 
      
  }
  .HomeTopText{
    margin-left: 6%;
    padding-top: 50px;
  }
  .HomeTopText h1{
    font-size: 25px;
  }
  .NimeshTopText{
    margin-left: 12px;
    font-size: 33px;
  }
  .ChangingText .FSDtop{
    font-size: 34px; 
  }
  .HomeTopDescription{
    width: 52%;
    margin-top: -5px;
  }
  .HomeTopDescription h2{
    font-size: 13px;
  
  }
  .HomeWelcomeText{
    font-size: 18px;
  }
  .HomeMyPhoto img{
    margin-top: -260px;
  }
  .Home_Buttons{
    margin-left: 6%;
    margin-top: -110px;
  }
  .Home_BottomText{
    margin-left: 6%;
    margin-top: 16px;
  }
  .Home_BottomText span{
    font-size: 46px;
  }
  .Home_BottomText h1{
    font-size: 28px;
  }
  .Home_Buttom_Cards{
    margin-left: 6%;
    margin-top: 15px;
  }
  .Home_Buttom_Card1,
  .Home_Buttom_Card2,
  .Home_Buttom_Card3{
    height: 100px;
  }
 
  .Home_Card1_Icons{
    gap: 10px;
    margin-top: 20px;
  }
  .Home_Card1_Icons img{
    height: 32px;
  }
  .Home_Buttom_Card1 h1{
    margin-top: 15px;
    font-size: 10px;
  }
  
  .Home_Card2_Icons{
    gap: 10px;
    margin-top: 20px;
  }
  .Home_Card2_Icons img{
    height: 32px;
  }
  .Home_Buttom_Card2 h1{
    margin-top: 15px;
    font-size: 10px;
  }
  
  .Home_Card3_Icons{
    gap: 10px;
    margin-top: 20px;
  }
  .Home_Card3_Icons img{
    height: 32px;
  }
  .Home_Buttom_Card3 h1{
    margin-top: 15px;
    font-size: 10px;
  }
}

@media (max-width: 1140px){
  .HomeMainContent { 
    background-color: #c28b4d; 
    width: 78%; 
    margin-left: 22%;    
  }
  .HomeTopText h1{
    font-size: 23px;
  }
  .NimeshTopText{
    margin-left: 12px;
    font-size: 31px;
  }
  .ChangingText .FSDtop{
    font-size: 32px; 
  }
  .HomeTopDescription{
    width: 52%;
    margin-top: -12px;
  }
  .HomeTopDescription h2{
    font-size: 12px;
  
  }
  .HomeWelcomeText{
    font-size: 16px;
  }
  .HomeMyPhoto img{
    margin-top: -230px;
  }
  .Home_Buttons{
    margin-left: 6%;
    margin-top: -80px;
  }
  .Home_BottomText{
    margin-left: 6%;
    margin-top: 4px;
  }
  .Home_BottomText span{
    font-size: 44px;
  }
  .Home_BottomText h1{
    font-size: 26px;
  }
  .Home_Buttom_Cards{
    margin-top: 3px;
  }

  .Home_Buttom_Card1,
  .Home_Buttom_Card2,
  .Home_Buttom_Card3{
    height: 90px;
  }
 
  .Home_Card1_Icons{
    gap: 15px;
    margin-top: 20px;
  }
  .Home_Card1_Icons img{
    height: 30px;
  }
  .Home_Buttom_Card1 h1{
    margin-top: 15px;
    font-size: 9px;
  }
  
  .Home_Card2_Icons{
    gap: 15px;
    margin-top: 20px;
  }
  .Home_Card2_Icons img{
    height: 30px;
  }
  .Home_Buttom_Card2 h1{
    margin-top: 15px;
    font-size: 9px;
  }
  
  .Home_Card3_Icons{
    gap: 15px;
    margin-top: 20px;
  }
  .Home_Card3_Icons img{
    height: 30px;
  }
  .Home_Buttom_Card3 h1{
    margin-top: 15px;
    font-size: 9px;
  }
}
@media (max-width: 1024px){
  .HomeMainContent { 
    background-color: #594dc2; 
    width: 78%; 
    margin-left: 22%;  
  }
  .HomeTopText h1{
    font-size: 23px;
  }
  .NimeshTopText{
    margin-left: 12px;
    font-size: 31px;
    margin-top: 5px;
  }
  .ChangingText{
    margin-top: 5px;
  }
  .ChangingText .FSDtop{
    font-size: 32px; 
  }
  .HomeTopDescription{
    width: 52%;
   
  }
  .HomeTopDescription h2{
    font-size: 12px;
  
  }
  .HomeWelcomeText{
    font-size: 16px;
  }
  .HomeMyPhoto img{
    margin-top: -250px;
  }
  .Home_Buttons{
    margin-left: 6%;
    margin-top: -20px;
  }
  .Home_BottomText{
    margin-left: 6%;
    margin-top: 20px;
  }
  .Home_BottomText span{
    font-size: 44px;
  }
  .Home_BottomText h1{
    font-size: 26px;
  }
  .Home_Buttom_Cards{
    margin-top: 20px;
  }

  .Home_Buttom_Card1,
  .Home_Buttom_Card2,
  .Home_Buttom_Card3{
    height: 110px;
  }
 
  .Home_Card1_Icons{
    gap: 15px;
    margin-top: 20px;
  }
  .Home_Card1_Icons img{
    height: 30px;
  }
  .Home_Buttom_Card1 h1{
    margin-top: 15px;
    font-size: 9px;
  }
  
  .Home_Card2_Icons{
    gap: 15px;
    margin-top: 20px;
  }
  .Home_Card2_Icons img{
    height: 30px;
  }
  .Home_Buttom_Card2 h1{
    margin-top: 15px;
    font-size: 9px;
  }
  
  .Home_Card3_Icons{
    gap: 15px;
    margin-top: 20px;
  }
  .Home_Card3_Icons img{
    height: 30px;
  }
  .Home_Buttom_Card3 h1{
    margin-top: 15px;
    font-size: 9px;
  }
}