

.HomeMainContent {
    border: none;
    width: 80%; 
    height: 100vh; 
    min-height: 720px;  
    background-color: #E9FBFF; 
    /* position: fixed; */
    margin-left: 20%;
    /* margin-top: -50px;  */
      
  }
  .Responsive-mobile-Text{
    display: none;
  }
  .HomeTopText{
    margin-left: 9%;
    padding-top: 50px;
  }
  .HomeTopText h1{
    font-size: 28px;
    font-weight: 460;
    opacity: 90%;
  }
  .NimeshTopText{
    margin-left: 13px;
    font-size: 36px;
    font-weight: 600;
    color: #00A4C9;
  }
  .ChangingText{
    margin-top: -10px;
  }
  .ChangingText .FSDtop{
    font-size: 38px;
    font-weight: 500;
    opacity: 80%; 
  }
 
  .FSDtop{
    display: block;
    height: 100%;
    width: max-content;
    border: none;  
    animation: spin_words 10s infinite;
  }
  .ChangingText {
    overflow: hidden;
    height: 70px; 
    opacity: 78%;
    margin-top: -5px;
}

@keyframes spin_words {
    0%, 25% {
        transform: translateY(0%);
        opacity: 1;
    }
    30%, 35% {
        transform: translateY(-112%);
        opacity: 0;
    }
    40%, 65% {
        transform: translateY(-100%);
        opacity: 1;
    }
    70%, 75% {
        transform: translateY(-212%);
        opacity: 0;
    }
    80%, 100% {
        transform: translateY(-200%);
        opacity: 1;
    }
}
.HomeTopDescription{
  width: 45%;
  margin-top: 15px;
  opacity: 70%;
}
.HomeTopDescription h2{
  font-size: 16px;
  font-weight: 390;

}
.HomeWelcomeText{
  font-size: 20px;
  font-weight: 540;
}
.HomeMyPhoto img{
  width: 42%;
  margin-left: 53%;
  margin-top: -375px;

}
.Home_Buttons{
  margin-left: 9%;
  display: flex;
  gap: 30px;
  margin-top: -100px;
}
.Home_BottomText{
  margin-left: 9%;
  margin-top: 30px;
}
.Home_BottomText span{
  font-size: 50px;
  color: #00A4C9;
  padding-right: 10px;
}
.Home_BottomText h1{
  font-size: 30px;
  font-weight: 600;
  opacity: 70%;
}
.Home_Buttom_Cards{
  margin-left: 9%;
  margin-top: 12px;
  display: flex;
  gap: 5%;
}
.Home_Buttom_Card1{
  height: 130px;
  width: 25%;
  background-color: #CCDCE2;
  align-items: center;
}
.Home_Card1_Icons{
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 30px;
}
.Home_Card1_Icons img{
  height: 45px;
}
.Home_Buttom_Card1 h1{
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  font-weight: 500;
  opacity: 95%;
}
.Home_Buttom_Card2{
  height: 130px;
  width: 25%;
  background-color: #DCF1F4;
}
.Home_Card2_Icons{
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 30px;
}
.Home_Card2_Icons img{
  height: 45px;
}
.Home_Buttom_Card2 h1{
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  font-weight: 500;
  opacity: 95%;
}
.Home_Buttom_Card3{
  height: 130px;
  width: 25%;
  background-color: #E9F0F0;
}
.Home_Card3_Icons{
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 30px;
}
.Home_Card3_Icons img{
  height: 45px;
}
.Home_Buttom_Card3 h1{
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  font-weight: 500;
  opacity: 95%;
}
  
/* Add Animation */

@keyframes zoomOutFadeIn2 {
  0% {
    opacity: 5%;
    transform: scale(1.01);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.HomeTopText h1,
.HomeTopDescription,
.Home_Buttons,
.ChangingText,
.HomeMyPhoto{
  animation: slowFadeIn 0.9s ease-in-out;
}

.Home_BottomText,
.Home_Buttom_Cards{
  animation: slowFadeIn 1.2s ease-in-out;

}

.HomeTopText h1 {
  overflow: hidden;
  white-space: nowrap;
  animation: typingEffect 3.5s steps(40, end) forwards;
}

@keyframes typingEffect {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Responsive part */


@media (max-width: 1500px){
  .HomeMainContent {
   
    height: 100vh;   
  }
  .Home_BottomText{  
    padding-top: -55px;
  }
  .Home_Buttom_Cards{
    margin-left: 9%;
    margin-top: -5px;
    display: flex;
    gap: 5%;
  }
  
}
@media (max-width: 1440px){

  .HomeTopText{
    margin-left: 8%;
    padding-top: 50px;
  }
  .HomeTopText h1{
    font-size: 27px;
  }
  .NimeshTopText{
    margin-left: 13px;
    font-size: 35px;
  }
  .ChangingText .FSDtop{
    font-size: 36px; 
  }
  .HomeTopDescription{
    width: 48%;
    margin-top: 5px;
  }
  .HomeTopDescription h2{
    font-size: 14px;
  
  }
  .HomeWelcomeText{
    font-size: 18px;
  }
  .HomeMyPhoto img{
    margin-top: -325px;
  }
  .Home_Buttons{
    margin-left: 8%;
    margin-top: -90px;
  }
  .Home_BottomText{
    margin-left: 8%;
    margin-top: 15px;
  }
  .Home_BottomText span{
    font-size: 48px;
  }
  .Home_BottomText h1{
    font-size: 29px;
  }
  .Home_Buttom_Cards{
    margin-left: 8%;
    margin-top: 10px;
  }
  .Home_Buttom_Card1,
  .Home_Buttom_Card2,
  .Home_Buttom_Card3{
    height: 110px;
  }
 
  .Home_Card1_Icons{
    gap: 10px;
    margin-top: 20px;
  }
  .Home_Card1_Icons img{
    height: 35px;
  }
  .Home_Buttom_Card1 h1{
    margin-top: 15px;
    font-size: 11px;
  }
  
  .Home_Card2_Icons{
    gap: 10px;
    margin-top: 20px;
  }
  .Home_Card2_Icons img{
    height: 35px;
  }
  .Home_Buttom_Card2 h1{
    margin-top: 15px;
    font-size: 11px;
  }
  
  .Home_Card3_Icons{
    gap: 10px;
    margin-top: 20px;
  }
  .Home_Card3_Icons img{
    height: 35px;
  }
  .Home_Buttom_Card3 h1{
    margin-top: 15px;
    font-size: 11px;
  }
}
@media (max-width: 1280px){
  .HomeTopText{
    margin-left: 6%;
    padding-top: 50px;
  }
  .HomeTopText h1{
    font-size: 25px;
  }
  .NimeshTopText{
    margin-left: 12px;
    font-size: 33px;
  }
  .ChangingText .FSDtop{
    font-size: 34px; 
  }
  .HomeTopDescription{
    width: 52%;
    margin-top: -5px;
  }
  .HomeTopDescription h2{
    font-size: 13px;
  
  }
  .HomeWelcomeText{
    font-size: 18px;
  }
  .HomeMyPhoto img{
    margin-top: -260px;
  }
  .Home_Buttons{
    margin-left: 6%;
    margin-top: -110px;
  }
  .Home_BottomText{
    margin-left: 6%;
    margin-top: 16px;
  }
  .Home_BottomText span{
    font-size: 46px;
  }
  .Home_BottomText h1{
    font-size: 28px;
  }
  .Home_Buttom_Cards{
    margin-left: 6%;
    margin-top: 15px;
  }
  .Home_Buttom_Card1,
  .Home_Buttom_Card2,
  .Home_Buttom_Card3{
    height: 100px;
  }
 
  .Home_Card1_Icons{
    gap: 10px;
    margin-top: 20px;
  }
  .Home_Card1_Icons img{
    height: 32px;
  }
  .Home_Buttom_Card1 h1{
    margin-top: 15px;
    font-size: 10px;
  }
  
  .Home_Card2_Icons{
    gap: 10px;
    margin-top: 20px;
  }
  .Home_Card2_Icons img{
    height: 32px;
  }
  .Home_Buttom_Card2 h1{
    margin-top: 15px;
    font-size: 10px;
  }
  
  .Home_Card3_Icons{
    gap: 10px;
    margin-top: 20px;
  }
  .Home_Card3_Icons img{
    height: 32px;
  }
  .Home_Buttom_Card3 h1{
    margin-top: 15px;
    font-size: 10px;
  }
}
@media (max-width: 1140px){
  .HomeMainContent { 
    width: 78%; 
    margin-left: 22%;    
  }
  .HomeTopText h1{
    font-size: 23px;
  }
  .NimeshTopText{
    margin-left: 12px;
    font-size: 31px;
  }
  .ChangingText .FSDtop{
    font-size: 32px; 
  }
  .HomeTopDescription{
    width: 52%;
    margin-top: -12px;
  }
  .HomeTopDescription h2{
    font-size: 12px;
  
  }
  .HomeWelcomeText{
    font-size: 16px;
  }
  .HomeMyPhoto img{
    margin-top: -230px;
  }
  .Home_Buttons{
    margin-left: 6%;
    margin-top: -80px;
  }
  .Home_BottomText{
    margin-left: 6%;
    margin-top: 4px;
  }
  .Home_BottomText span{
    font-size: 44px;
  }
  .Home_BottomText h1{
    font-size: 26px;
  }
  .Home_Buttom_Cards{
    margin-top: 3px;
  }

  .Home_Buttom_Card1,
  .Home_Buttom_Card2,
  .Home_Buttom_Card3{
    height: 90px;
  }
 
  .Home_Card1_Icons{
    gap: 15px;
    margin-top: 20px;
  }
  .Home_Card1_Icons img{
    height: 30px;
  }
  .Home_Buttom_Card1 h1{
    margin-top: 15px;
    font-size: 9px;
  }
  
  .Home_Card2_Icons{
    gap: 15px;
    margin-top: 20px;
  }
  .Home_Card2_Icons img{
    height: 30px;
  }
  .Home_Buttom_Card2 h1{
    margin-top: 15px;
    font-size: 9px;
  }
  
  .Home_Card3_Icons{
    gap: 15px;
    margin-top: 20px;
  }
  .Home_Card3_Icons img{
    height: 30px;
  }
  .Home_Buttom_Card3 h1{
    margin-top: 15px;
    font-size: 9px;
  }
}
@media (max-width: 1024px){
  .HomeMainContent { 
    width: 100%; 
    margin-left: 0;  
  }
  .HomeTopText{
    margin-left: 70px;
  }
  .HomeTopText h1{
    font-size: 28px;
    margin-top: 20px;
  }
  .NimeshTopText{
    margin-left: 12px;
    font-size: 36px;
    margin-top: 5px;
  }
  .ChangingText{
    margin-top: 2px;
  }
  .ChangingText .FSDtop{
    font-size: 38px; 
  }
  .HomeTopDescription{
    width: 52%;
    margin-top: 10px;
  }
  .HomeTopDescription h2{
    font-size: 16px;
  
  }
  .HomeWelcomeText{
    font-size: 20px;
  }
  .HomeMyPhoto img{
    width: 45%;
    margin-top: -350px;
  }
  .Home_Buttons{
    margin-left: 70px;
    margin-top: -60px;
  }
  .Home_BottomText{
    margin-left: 70px;
    margin-top: 5px;
  }
  .Home_BottomText span{
    font-size: 50px;
  }
  .Home_BottomText h1{
    font-size: 30px;
  }
  .Home_Buttom_Cards{
    margin-top: 5px;
    margin-left: 70px;
  }

  .Home_Buttom_Card1,
  .Home_Buttom_Card2,
  .Home_Buttom_Card3{
    height: 110px;
  }
 
  .Home_Card1_Icons{
    gap: 15px;
    margin-top: 20px;
  }
  .Home_Card1_Icons img{
    height: 30px;
  }
  .Home_Buttom_Card1 h1{
    margin-top: 18px;
    font-size: 12px;
  }
  
  .Home_Card2_Icons{
    gap: 15px;
    margin-top: 20px;
  }
  .Home_Card2_Icons img{
    height: 30px;
  }
  .Home_Buttom_Card2 h1{
    margin-top: 18px;
    font-size: 12px;
  }
  
  .Home_Card3_Icons{
    gap: 15px;
    margin-top: 20px;
  }
  .Home_Card3_Icons img{
    height: 30px;
  }
  .Home_Buttom_Card3 h1{
    margin-top: 18px;
    font-size: 12px;
  }
}
@media (max-width: 940px){
  .HomeMainContent {
    width: 100%; 
    margin-left: 0; 
    height: 100%; 
  }
  .HomeTopText{
    margin-left: 90px;
  }
  .HomeTopText h1{
    font-size: 28px;
    margin-top: 50px;
  }
  .NimeshTopText{
    margin-left: 12px;
    font-size: 36px;
    margin-top: 5px;
  }
  .ChangingText{
    margin-top: 2px;
  }
  .ChangingText .FSDtop{
    font-size: 36px; 
  }
  .HomeTopDescription{
    width: 52%;
    margin-top: 10px;
  }
  .HomeTopDescription h2{
    font-size: 18px;
  
  }
  .HomeWelcomeText{
    font-size: 22px;
  }
  .HomeMyPhoto img{
    width: 45%;
    margin-top: -450px;
  }
  .Home_Buttons{
    margin-left: 90px;
    margin-top: 115px;
  }
  .Home_BottomText{
    margin-left: 90px;
    margin-top: 15px;
  }
  .Home_BottomText span{
    font-size: 50px;
  }
  .Home_BottomText h1{
    font-size: 30px;
  }
  .Home_Buttom_Cards{
    margin-top: 15px;
    margin-left: 90px;
    gap: 6%;
    padding-bottom: 30px;
  }

  .Home_Buttom_Card1,
  .Home_Buttom_Card2,
  .Home_Buttom_Card3{
    height: 110px;
  }
 
  .Home_Card1_Icons{
    gap: 15px;
    margin-top: 20px;
  }
  .Home_Card1_Icons img{
    height: 30px;
  }
  .Home_Buttom_Card1 h1{
    margin-top: 18px;
    font-size: 11px;
  }
  
  .Home_Card2_Icons{
    gap: 15px;
    margin-top: 20px;
  }
  .Home_Card2_Icons img{
    height: 30px;
  }
  .Home_Buttom_Card2 h1{
    margin-top: 18px;
    font-size: 11px;
  }
  
  .Home_Card3_Icons{
    gap: 15px;
    margin-top: 20px;
  }
  .Home_Card3_Icons img{
    height: 30px;
  }
  .Home_Buttom_Card3 h1{
    margin-top: 18px;
    font-size: 11px;
  }
}
@media (max-width: 768px) {
  .HomeMainContent {
    padding: 0;
    margin: 0;
    
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding-top: 20px;
    height: 100%;
  }

  .HomeMyPhoto {
    margin-top: -880px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 50%;
  }

  .HomeMyPhoto img {
    width: 70%; 
    margin-top: 0; 
    
  }

  .HomeTopText {
    width: 80%; 
    margin-top: 360px; 
  }

  .HomeTopText h1 {
    font-size: 28px;
    margin-left: -6%;
  }

  .NimeshTopText {
    font-size: 36px;
    margin-top: 5px;
  }
  .ChangingText{
    display: none;
  }
  .Responsive-mobile-Text{
    display: block;
    margin-right: 14%;
  }
  .Responsive-mobile-Text h2{
    font-size: 22px;
    font-weight: 500;
    opacity: 70%;
  }


  .HomeTopDescription {
    width: 90%;
    margin-top: 20px;
    margin-left: -3%;
  }

  .HomeTopDescription h2 {
    font-size: 20px;
  }

  .HomeWelcomeText {
    font-size: 26px;
  }

  .Home_Buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 420px;
    width: 100%;
    margin-right: 12%;
  }

  .Home_BottomText {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    margin-right: 12%;
  }

  .Home_BottomText span {
    font-size: 50px;
  }

  .Home_BottomText h1 {
    font-size: 30px;
  }

  .Home_Buttom_Cards {
    display: flex;
    justify-content: center; 
    gap: 15px;
    margin-top: 20px;
    width: 100%;
    margin-right: 12%;
  }

  .Home_Buttom_Card1,
  .Home_Buttom_Card2,
  .Home_Buttom_Card3 {
    height: 130px;
    width: 25%; 
  }

  .Home_Card1_Icons,
  .Home_Card2_Icons,
  .Home_Card3_Icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 40px;
  }

  .Home_Card1_Icons img,
  .Home_Card2_Icons img,
  .Home_Card3_Icons img {
    height: 30px;
  }

  .Home_Buttom_Card1 h1,
  .Home_Buttom_Card2 h1,
  .Home_Buttom_Card3 h1 {
    margin-top: 18px;
    font-size: 11px;
    text-align: center;
  }
  
}
@media (max-width: 680px) {
  .HomeMyPhoto {
    margin-top: -880px;
  }
  .HomeTopText {
    margin-top: 360px; 
  }
  .NimeshTopText {
    font-size: 36px;
    margin-top: 5px;
  } 
  .Responsive-mobile-Text h2{
    font-size: 22px;
    font-weight: 500;
    opacity: 70%;
  }
  .HomeTopDescription {
    margin-top: 20px;
  }
  .Home_Buttons {
    margin-top: 490px;
  }
  .Home_BottomText {
    margin-top: 20px;
  }
  .Home_Buttom_Cards {
    margin-top: 20px;
  }
  .Home_Buttom_Card1,
  .Home_Buttom_Card2,
  .Home_Buttom_Card3 {
    height: 100px;
    width: 25%; 
  }
  .Home_Card1_Icons,
  .Home_Card2_Icons,
  .Home_Card3_Icons {
    margin-top: 20px;
  }
  .Home_Buttom_Card1 h1,
  .Home_Buttom_Card2 h1,
  .Home_Buttom_Card3 h1 {
    margin-top: 18px;
    font-size: 9px;
    
  } 
}
@media (max-width: 570px) {
  .HomeMyPhoto {
    margin-top: -850px;
    margin-left: -2%;
  }
  .HomeTopText {
    margin-top: 240px;
    margin-right: 7%;
  }
  .NimeshTopText {
    font-size: 36px;
    margin-top: 5px;
    margin-right: 7%;
  } 
  .Responsive-mobile-Text h2{
    font-size: 22px;
    font-weight: 500;
    opacity: 70%;
    margin-right: 7%;
  }
  .HomeTopDescription {
    margin-top: 20px;
  }
  .Home_Buttons {
    margin-top: 530px;
    margin-right: 20%;
  }
  .Home_BottomText {
    margin-top: 20px;
    margin-right: 20%;
  }
  .Home_Buttom_Cards {
    margin-top: 20px;
    margin-right: 20%;
  }
  .Home_Buttom_Card1,
  .Home_Buttom_Card2,
  .Home_Buttom_Card3 {
    height: 100px;
    width: 25%; 
  }
  .Home_Card1_Icons,
  .Home_Card2_Icons,
  .Home_Card3_Icons {
    margin-top: 20px;
    gap: 10px;
  }
  .Home_Card1_Icons img,
  .Home_Card2_Icons img,
  .Home_Card3_Icons img {
    height: 20px;
  }
  .Home_Buttom_Card1 h1,
  .Home_Buttom_Card2 h1,
  .Home_Buttom_Card3 h1 {
    margin-top: 18px;
    font-size: 9px;
    
  } 
}
@media (max-width: 420px) {
  .HomeMyPhoto {
    margin-top: -980px;
    margin-left: -2%;
  }
  .HomeTopText {
    margin-top: 200px;
    margin-right: 7%;
  }
  .NimeshTopText {
    font-size: 36px;
    margin-top: 5px;
    margin-right: 7%;
  } 
  .Responsive-mobile-Text h2{
    font-size: 22px;
    font-weight: 500;
    opacity: 70%;
    margin-right: 7%;
  }
  .HomeTopDescription {
    margin-top: 20px;
  }
  .Home_Buttons {
    margin-top: 750px;
    margin-right: 20%;
  }
  .Home_BottomText {
    margin-top: 20px;
    margin-right: 20%;
  }
  .Home_Buttom_Cards {
    margin-top: 20px;
    margin-right: 20%;
  }
  .Home_Buttom_Card1,
  .Home_Buttom_Card2,
  .Home_Buttom_Card3 {
    height: 100px;
    width: 25%; 
  }
  .Home_Card1_Icons,
  .Home_Card2_Icons,
  .Home_Card3_Icons {
    margin-top: 20px;
    gap: 10px;
  }
  .Home_Card1_Icons img,
  .Home_Card2_Icons img,
  .Home_Card3_Icons img {
    height: 20px;
  }
  .Home_Buttom_Card1 h1,
  .Home_Buttom_Card2 h1,
  .Home_Buttom_Card3 h1 {
    margin-top: 18px;
    font-size: 9px;
    
  } 
}
@media (max-width: 320px) {
  .HomeMyPhoto {
    margin-top: -650px;
    margin-left: -1%;
  }
  .HomeTopText {
    margin-top: 200px;
    margin-right: 9%;
  }
  .NimeshTopText {
    font-size: 30px;
    margin-top: 5px;
    margin-right: 7%;
  } 
  .Responsive-mobile-Text h2{
    font-size: 18px;
    font-weight: 500;
    opacity: 70%;
    margin-right: 7%;
  }
  .HomeTopDescription {
    margin-top: 20px;
  }
  .HomeTopDescription h2{
    font-size: 14px;
  }
  .Home_Buttons {
    margin-top: 500px;
    margin-right: 22%;
  }
  .Home_BottomText {
    margin-top: 20px;
    margin-right: 22%;
  }
  .Home_Buttom_Cards {
    margin-top: 20px;
    margin-right: 22%;
  }
  .Home_Buttom_Card1,
  .Home_Buttom_Card2,
  .Home_Buttom_Card3 {
    height: 60px;
    width: 25%; 
  }
  .Home_Card1_Icons,
  .Home_Card2_Icons,
  .Home_Card3_Icons {
    margin-top: 10px;
    gap: 5px;
  }
  .Home_Card1_Icons img,
  .Home_Card2_Icons img,
  .Home_Card3_Icons img {
    height: 15px;
  }
  .Home_Buttom_Card1 h1,
  .Home_Buttom_Card2 h1,
  .Home_Buttom_Card3 h1 {
    margin-top: 8px;
    font-size: 7px;
    
  } 
}


