.Portfolio_Main {
    width: 80%; 
    height: 100vh; 
    min-height: 720px;  
    background-color: #E3F5F9; 
    position: fixed;
    left: 20%; 
    border: none;
}

.Portfolio_TopContent {
    margin-left: 9%;
    margin-top: 60px;
}

.Portfolio_welcome {
    font-size: 12px;
    font-weight: 500;   
}

.Portfolio_MyProjects {
    font-size: 38px;
    font-weight: 600;
    color: #000000;
    opacity: 70%;
}

.Portfolio_NavLink {
    margin-left: 9%;
    display: flex;
    gap: 40px;
    margin-top: 15px;
    position: relative;
}

.Portfolio_NavLink h1 {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    padding-bottom: 5px; 
    transition: color 0.3s ease;
    opacity: 70%;
}

.Portfolio_NavLink h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%; 
    height: 2px;
    width: 0;
    background-color: #007BFF; 
    transition: width 0.3s ease, left 0.3s ease;
}

.Portfolio_ActiveLink {
    color: #00A4C9; 
    border-bottom: 5px solid #00A4C9; 
}

.Portfolio_ActiveLink::after {
    width: 100%; 
    left: 0;
}

.Portfolio_WebDevelopment {
    margin-left: 9%;
    margin-top: 25px;
}

