.Portfolio_Main {
    border: none;
    width: 80%; 
    height: 100vh; 
    min-height: 720px;  
    background-color: #E3F5F9; 
    position: fixed;
    left: 20%; 
}

.Portfolio_TopContent {
    margin-left: 9%;
    margin-top: 60px;
}

.Portfolio_welcome {
    font-size: 12px;
    font-weight: 500;   
}

.Portfolio_MyProjects {
    font-size: 38px;
    font-weight: 600;
    color: #000000;
    opacity: 70%;
}

.Portfolio_NavLink {
    margin-left: 9%;
    display: flex;
    gap: 40px;
    margin-top: 10px;
    position: relative;
}

.Portfolio_NavLink h1 {
    cursor: pointer;
    position: relative;
    padding-bottom: 5px; 
}
.Portfolio_NavLink h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #007BFF;
    transition: width 0.3s ease, left 0.3s ease;
}

.Portfolio_ActiveLink::after {
    width: 100%; /* Full underline width */
    left: 0;
}

/* Ensure only one underline moves to the selected tab */
.Portfolio_NavLink h1:not(.Portfolio_ActiveLink)::after {
    width: 0;
    left: 50%; /* Center the starting point for non-active links */
}

.Portfolio_ActiveLink {
    border-bottom: 2px solid #007BFF; 
    color: #007BFF;
}

.Portfolio_WebDevelopment {
    margin-left: 9%;
    margin-top: 40px;
}
