.UIUX_Main {
    width: 1000px;
    height: 600px; 
    background-color: #F2FFFD;
    overflow-y: scroll; 
    padding-right: 10px; 
}

.UIUX_Cards {
    padding-left: 35px;
    padding-top: 35PX;
    display: flex;
    flex-wrap: wrap;
    gap: 25PX;
}
.UIUX_Card1:hover {
    border-color: #03c3ef; 
    
}

.UIUX_Card1 {
    height: 260px;
    width: 280px;
    background-color: #ffffff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.UIUX_Content img{
    height: 180px;
    width: 280px;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
}
.UIUX_Card1 h1{
    font-size: 14px;
    font-weight: 600;
    opacity: 60%;
    margin-left: 15px;
    margin-top: 12px;
    line-height: 1.2;
}
.UIUX_Card1 h2{
    font-size: 10px;
    font-weight: 500;
    opacity: 60%;
    margin-left: 15px;
    margin-top: 8px;
    
}

/* Add Animation */

.UIUX_Main{
  
    font-size: 28px;
    font-weight: 460;
    opacity: 10%;
    animation: fadeIn 0.6s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  @media (max-width: 1500px) {
    .UIUX_Main {
        width: 93%;
        height: 550px;
        margin-left: -2%;
    }
    .UIUX_Card1 {
        height: 240px;
        width: 30%;
    }
    .UIUX_Card1 img{
        width: 100%;
        height: auto;
    }
    .UIUX_Content img {
        height: 160px;
    }
}
@media (max-width: 1440px) {
    .UIUX_Main {  
        height: 540px;
    }
    .UIUX_Card1 {
        height: 230px;      
    }
    .UIUX_Content img {
        height: 150px;
    }
}
@media (max-width: 1280px) {
    .UIUX_Main { 
        height: 540px;
    }
    .UIUX_Card1 {
        height: 300px;
        width: 45%; 
    }
    .UIUX_Content img {
        height: 200px;
    }
}
@media (max-width: 1140px) {
    .UIUX_Main {   
        height: 540px;
    }
    .UIUX_Card1 {
        height: 290px; 
    }
    .UIUX_Content img {
        height: 190px;
    }
}
@media (max-width: 1024px) {
    .UIUX_Main {   
        height: 540px;
    }
    .UIUX_Card1 {
        height: 280px;
        
    }
    .UIUX_Content img {
        height: 105;
    }
}

@media (max-width: 865px) {
    .UIUX_Main{
        height: 100vh;

    }
    .UIUX_Card1 {
        width: 100%;
        height: 390px; 
        margin-right: 7%;
    }
    .UIUX_Card1 h1{
        margin-top: 15px;
    }
    .UIUX_Card1 h2{
        padding-bottom: 15px;     
    }
    .UIUX_Card1 img{
        height: 280px;
    }
}
@media (max-width: 680px){
    .UIUX_Card1 {
        height: 350px; 
    }
    .UIUX_Card1 img{
        height: 250px;
    }
}
@media (max-width: 545px){
    .UIUX_Card1 {
        height: 300px; 
    }
    .UIUX_Card1 img{
        height: 210px;
    }
    .UIUX_Card1 h1{
        font-size: 12px;
    }
    .UIUX_Card1 h2{
        font-size: 9px;
    }
}
@media (max-width: 480px){
    .UIUX_Card1 {
        height: 240px; 
    }
    .UIUX_Card1 img{
        height: 160px;
    }
}
@media (max-width: 400px){
    .UIUX_Card1 {
        height: 210px; 
    }
    .UIUX_Card1 img{
        height: 136px;
    }
}