.Skills_MainContent{
    border: none;
    width: 80%; 
    height: 100vh; 
    min-height: 720px;  
    background-color: #E9FBFF; 
    position: fixed;
    left: 20%; 
}
.Skills_TopContent{
    margin-left: 9%;
    margin-top: 60px;
}
.Skills_Nice_to_meet_Text{
    font-size: 12px;
    font-weight: 500;   
}
.Skills_MyName{
    font-size: 28px;
    font-weight: 600;
    color: #000000;
}
.Skills_MyOccupation{
    font-size: 18px;
    font-weight: 500;
    opacity: 60%;
}
.Skills_View_Button{
    margin-left: 9%;
    margin-top: 25px;
}
.Skills_FiverrExp{
    height: 220px;
    width: 530px;
    margin-left: 545px;
    margin-top: -185px;
}
.Skills_FiverrExp h1{
    font-size: 13px;
    font-weight: 300;
    color: rgb(124, 126, 128);
}
.Skills_FiverrExp span{
    font-size: 16px;
    font-weight: 600;
    color: #023E57;  
}
.Skills_SiteLogo{
    display: flex;
    gap: 20px;
    margin-top: 15px;
}
.Skills_BehanceLogo{
    transition: transform 0.6s ease-in-out;
}
.Skills_BehanceLogo:hover{
    transform: scale(1.1);
}
.Skills_FiverrLogo{
    transition: transform 0.6s ease-in-out;
}
.Skills_FiverrLogo:hover{
    transform: scale(1.1);
}
.Skills_SiteLogo img{
    height: 36px;
}

.Skills_BehanceLogo{
    display: flex;
    
}
.Skills_BehanceLogo h1{
    font-size: 15px;
    font-weight: 700;
    margin-top: 8px;
    padding-left: 10px; 
    color: #023E57;  
}
.Skills_FiverrLogo{
    display: flex;
}
.Skills_FiverrLogo h1{
    font-size: 15px;
    font-weight: 700;
    margin-top: 8px;
    margin-left: -5px;
    color: #023E57;  
}
.Skills_Exp_Cards{
    margin-left: 9%;
    margin-top: 10px;
    display: flex;
    gap: 45px;
}

.Skills_Exp_Card1{
    width: 286px;
    height: 110px;
    background-color: #D5EFE4;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}
.Skills_Card1_Text1{
    font-size: 20px;
    font-weight: 700;
    margin-top: -10px;    
}
.Skills_Card1_Text2{
    font-size: 14px;
    font-weight: 510;
}
.Skills_Card1_Text2 span{
    color: #11AC61;
    font-size: 15px;
    font-weight: 900;
}
.Skills_Card1_Bottom{
    width: 220px;
}
.Skills_Card1_Text3{
    font-size: 10px;
}
.Skills_Card1_Text3 span{
    font-size: 9px;
    font-weight: 600;
    margin-left: 28px;
}

.Skills_Exp_Card2{
    width: 286px;
    height: 110px;
    background-color: #D2E6E8;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.Skills_Card2_Text2{
    font-size: 14px;
    font-weight: 510;
}
.Skills_Card2_Text2 span{
    color: #000000;
    font-size: 15px;
    font-weight: 900;
}

.Skills_Exp_Card3{
    width: 286px;
    height: 110px;
    background-color: #D0F5F8;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}
.Skills_Card3_Text2{
    font-size: 14px;
    font-weight: 510;
}
.Skills_Card3_Text2 span{
    color: #000000;
    font-size: 15px;
    font-weight: 600;
}
.Skills_Card3_Text3{
    font-size: 10px;
}
.Skills_Card3_Text3 span{
    font-size: 9px;
    font-weight: 600;
    margin-left: 60px;
}
.Skills_MySkills{
    margin-left: 9%;
    margin-top: 30px;
    
}
.Skills_MySkills span{
    font-size: 45px;
    color: #A2C3C6;
    padding-right: 10px;
}
.Skills_MySkills h1{
    font-size: 28px;
    font-weight: 600;
    opacity: 70%;
}

.Skills_Bottom_Cards{
    display: flex;
    margin-left: 9%;
    gap: 36px;   
}
.Skills_Bottom_Cards img{
    height: 70px;  
}

.Skills_Bottom_Card1{
    width: 210px;
    height: 200px;
    background-color: #B4D8DB;
    border-radius: 7px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.Skills_Bottom_Card1 hr{
    border: none; 
    height: 2px; 
    background-color: #002737; 
    width: 80%; 
    margin-top: 2px;
    margin-bottom: 5px;
    opacity: 80%;
}
.Skills_Bottom_Card1 h1{
    font-size: 12px;
    font-weight: 500;
    color: #002737;
    margin-top: 10px;
    opacity: 80%;
}
.Skills_Bottom_Card1 h2{
    font-size: 9px;
    font-weight: 500;
    color: #002737;
}
.Skills_Bottom_Card2{
    width: 210px;
    height: 200px;
    background-color: #222C34;
    border-radius: 7px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.Skills_Bottom_Card2 hr{
    border: none; 
    height: 2px; 
    background-color: #FFFFFF; 
    width: 80%; 
    margin-top: 2px;
    margin-bottom: 5px;
    opacity: 80%;
}
.Skills_Bottom_Card2 h1{
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 10px;
    opacity: 80%;
}
.Skills_Bottom_Card2 h2{
    font-size: 9px;
    font-weight: 500;
    color: #FFFFFF;
}
.Skills_Bottom_Card3{
    width: 210px;
    height: 200px;
    background-color: #CFD2D4;
    border-radius: 7px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.Skills_Bottom_Card3 hr{
    border: none; 
    height: 2px; 
    background-color: #414141; 
    width: 80%; 
    margin-top: 2px;
    margin-bottom: 5px;
    opacity: 80%;
}
.Skills_Bottom_Card3 h1{
    font-size: 12px;
    font-weight: 500;
    color: #414141;
    margin-top: 10px;
    opacity: 80%;
}
.Skills_Bottom_Card3 h2{
    font-size: 9px;
    font-weight: 500;
    color: #414141;
}
.Skills_Bottom_Card4{
    width: 210px;
    height: 200px;
    background-color: #AFC1CC;
    border-radius: 7px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.Skills_Bottom_Card4 hr{
    border: none; 
    height: 2px; 
    background-color: #000000; 
    width: 80%; 
    margin-top: 2px;
    margin-bottom: 5px;
    opacity: 80%;
}
.Skills_Bottom_Card4 h1{
    font-size: 12px;
    font-weight: 500;
    color: #000000;
    margin-top: 10px;
    opacity: 80%;
}
.Skills_Bottom_Card4 h2{
    font-size: 9px;
    font-weight: 500;
    color: #000000;
}




/* Keyframe Animations */
@keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slowFadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  /* Apply Animation */
  
  .Skills_TopContent h1,
  .Skills_View_Button button,
  .Skills_FiverrExp h1,
  .Skills_BehanceLogo,
  .Skills_FiverrLogo,
  .Skills_Exp_Card1,
  .Skills_Exp_Card2,
  .Skills_Exp_Card3,
  .Skills_MySkills h1 {
    animation: slowFadeIn 0.9s ease-in-out;
  }

  .Skills_Bottom_Cards{
    animation: slowFadeIn 0.6s ease-in-out;
  }


  