@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
.sideBarContent{
    border: none;
    width: 20%;
    min-height: 800px;
    height: 100%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.SideBarMylogo{
    height: 130px;
    width: auto;
}
.SBmylogo{
   
    padding-top: 30px;
}

.MynameSB{
    
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;

}
.MyOccupation{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
}
.MyOccupation h5{
    font-size: 14px;
    font-weight: 5;
    opacity: 0.8;
}
.Myoccupation2{
    margin-top: -25px;
}
.SideBarListItems{
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -21%;
    line-height: 1.4;
    
}
.SideBarListItems h2{
    font-size: 16px;
    font-weight: 450;
    
}
.SocialMediaListItems img{
    height: 30px;
    width: auto;

}
.SocialMediaListItems{
    padding-top: 50px;
    list-style-type: none;
    display: flex;
    gap: 15px;
    
}
.FotterName{
    padding-top: 20px;

}
.FotterName h2{
    
    font-size: 14px;
    font-weight: 250;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.FotterName2{
    margin-top: -10px;
}