@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
.side_BarContent{
    z-index: 1;
    border: none;
    width: 20%;
    height: 100%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    
}

.Side_BarMylogo{
    height: 130px;
    width: auto;
}
.Side_BarMylogo:hover{
    transform: scale(1.04);
    transition: 1s;
    cursor: pointer;
}
.SB_mylogo{
   
    padding-top: 30px;
}

.My_nameSB{
    
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;

}
.My_Occupation{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
.My_Occupation h5{
    font-size: 14px;
    font-weight: 5;
    opacity: 0.8;
}

.Side_BarListItems{
    margin-top: 55px;
    gap: 30px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -21%;
    line-height: 1.5;
    
}
.Side_BarListItems a{
    text-decoration: none;
    color: black;
    opacity: 90%;
}
.Side_BarListItems h2{
    font-size: 15px;
    font-weight: 450;
    
}

.Side_BarListItems h2:hover{
    transform: scale(1.1);
    transition: 0.7s;
    font-weight: 450;
    color: #00A4C9;
    cursor: pointer;

}
.Social_MediaListItems img{
    height: 30px;
    width: auto;
    background-color: white; 
    transition: background-color 0.3s ease;
    border-radius: 5px;

}
.Social_MediaListItems img:hover{
    transform: scale(1.1);
    transition: 0.7s;
    background-color: #00A4C9;
    border-radius: 5px;
    cursor: pointer;

}

.Social_MediaListItems{
    margin-top: 70px;
    list-style-type: none;
    display: flex;
    gap: 15px;
}
.Fotter_Name{
    margin-top: 30px;

}
.Fotter_Name h2{
    
    font-size: 14px;
    font-weight: 250;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
