

.Drawing_Main {
    width: 1000px;
    height: 600px; 
    background-color: #F2FFFD;
    overflow-y: scroll; 
    padding-right: 10px; 
}

.Drawing_Cards {
    padding-left: 35px;
    padding-top: 35PX;
    display: flex;
    flex-wrap: wrap;
    gap: 25PX;
}
.Drawing_Cards img{
    cursor: pointer;
}

.Drawing_Card1 {
    height: 260px;
    width: 580px;
    background-color: #ffffff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    border-radius: 5px;
}
.Drawing_Card1_Img{
    display: flex;
}
.Drawing_MoonArt1{
    height: 150px;
    width: 230px;
    border-top-left-radius: 5px; 
}
.Drawing_DogDesign{
    height: 140px;
    width: 120px;
    border-top-right-radius: 5px; 
}

.Drawing_Card1 h1{
    font-size: 18px;
    font-weight: 600;
    opacity: 60%;
    margin-left: 15px;
    margin-top: 42px;
}
.Drawing_Card1 h2{
    font-size: 10px;
    font-weight: 500;
    opacity: 60%;
    margin-left: 15px;  
}
.Drawing_Card2 {
    height: 260px;
    width: 280px;
    background-color: #ffffff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    border-radius: 5px;
}

/* this is additional card */
.Drawing_Card5 {
    height: 260px;
    width: 280px;
    background-color: #ffffff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    border-radius: 5px;
}


.Drawing_Card2_Img{
    display: flex;
}
.Drawing_Wallpaper{
    height: 190px;
    width: 100px;
    border-top-left-radius: 5px; 
}
.Drawing_Card2 h1{
    font-size: 18px;
    font-weight: 600;
    opacity: 60%;
    margin-left: 15px;
    margin-top: 12px;
}
.Drawing_Card2 h2{
    font-size: 10px;
    font-weight: 500;
    opacity: 60%;
    margin-left: 15px;   
}
.Drawing_Card3_Img{
    display: flex;
}
.Drawing_Character{
    height: 110px;
    width: 180px;
    border-top-left-radius: 5px; 
}
.Drawing_Character2{
    height: 140px;
    width: 98px;
    border-top-right-radius: 5px; 
}
.Drawing_Card3 {
    height: 260px;
    width: 280px;
    background-color: #ffffff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    border-radius: 5px;
}
.Drawing_Card3 h1{
    font-size: 18px;
    font-weight: 600;
    opacity: 60%;
    margin-left: 15px;
    margin-top: 52px;
}
.Drawing_Card3 h2{
    font-size: 10px;
    font-weight: 500;
    opacity: 60%;
    margin-left: 15px;   
}
.Drawing_Card4_Img{
    display: flex;
}
.Drawing_HumanArt1{
    height: 190px;
    width: 145px;
    border-top-left-radius: 5px; 
}
.Drawing_HumanArt2{
    height: 160px;
    width: 235px;
}
.Drawing_ColorPencil{
    height: 140px;
    width: 200px;
    border-top-right-radius: 5px; 
}
.Drawing_Card4 {
    height: 260px;
    width: 580px;
    background-color: #ffffff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    border-radius: 5px;
}
.Drawing_Card4 h1{
    font-size: 18px;
    font-weight: 600;
    opacity: 60%;
    margin-left: 15px;
    margin-top: 15px;
}
.Drawing_Card4 h2{
    font-size: 10px;
    font-weight: 500;
    opacity: 60%;
    margin-left: 15px;   
}


.Drawing_Card1_Img img:hover,
.Drawing_Card2_Img img:hover,
.Drawing_Card3_Img img:hover,
.Drawing_Card4_Img img:hover {
    border: 2px solid #52EAFF;
}

/* Add Animation */

.Drawing_Main{
  
    font-size: 28px;
    font-weight: 460;
    opacity: 10%;
    animation: fadeIn 0.6s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

/* responsive */

@media (max-width: 1500px) {
    .Drawing_Main {
        width: 93%;
        height: 550px;
        margin-left: -2%;
    }
    .Drawing_Card1 {
        height: 60%;
        width: 50%;
    }
    .Drawing_Card1 h2 {
        padding-bottom: 20px;
    }
    .Drawing_MoonArt1{
        width: 38%;
        height: 130%;
    }
    .Drawing_DogDesign{
        width: 22%;
        height: 100%;
    }
    .Drawing_Card2{
        height: 60%;
        width: 40%;
    }
    .Drawing_Wallpaper{
        width: 25%;
        height: 60%;
    }
    .Drawing_Card2 h2 {
        padding-bottom: 13px;
    }
    .Drawing_Card3{
        width: 40%;
        height: 40%;
    }
    .Drawing_Card3 h2{
        padding-bottom: 20px;
    }
    .Drawing_Card3 h1{
        margin-top: 0px;
    }
    .Drawing_Character{
        width: 65%;
        height: 40%;
    }
    .Drawing_Character2{
        width: 35%;
        height: 60%;
    }
    .Drawing_Card4{
        width: 50%;
        height: 40%;
    }
    .Drawing_Card4 h1{
        margin-top: 30px;
    }
    .Drawing_Card4 h2{
        padding-bottom: 20px;
    }
    .Drawing_HumanArt1{
        width: 20%;
        height: 13%;
    }
    .Drawing_HumanArt2{
        width: 42%;
        height: 60%;
    }
    .Drawing_ColorPencil{
        width: 38%;
        height: 60%;
    }
}


@media (max-width: 680px){
    .Drawing_Main{
        height: 100vh;

    }
    .Drawing_Card1 {
        width: 95%;
    }
    .Drawing_Card2 {
        width: 45%;
    }
    .Drawing_Card3 {
        width: 45%;
    }
    .Drawing_Card4 {
        width: 95%; 
    }
    .Drawing_Card5 {
        width: 95%;
        height: 150px;
    }
    .Drawing_Cards{
        margin-left: -1%;
    }
    
}

@media (max-width: 480px){
    .Drawing_Card1 {
        width: 95%;
    }
    .Drawing_Card2 {
        width: 43%;
    }
    .Drawing_Card3 {
        width: 43%;
    }
    .Drawing_Card4 {
        width: 95%; 
    }
    .Drawing_Card5 {
        width: 95%;
        height: 150px;
    }
    .Drawing_Cards h1{
        font-size: 12px;
    }
    .Drawing_Cards h2{
        font-size: 10px;
    }
    .Drawing_Cards{
        margin-left: -2%;
    }
}
